/* General body style */
body {
    font-family: Arial, sans-serif;
    background-color: #9bb145;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #b6ca64;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid #003707;
    padding-bottom: 10px;
}

/* Form styles */
form label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    text-align: left;
}

form input[type="text"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e4f4b1;
    font-size: 14px;
    box-sizing: border-box;
}

/* Button styles */
.BUTTON{
    display: flex;
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancel-button,
.add-button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    /* flex: 0 0 45%; */
}

.cancel-button {
    background-color: #dfd6d6;
    color: #545454;
}

.add-button {
    background-color: #123716;
    color: white;
}
